[submodule "pcb/Kicad_Personal_Lib"]
	path = pcb/Kicad_Personal_Lib
	url = https://github.com/HorrorTroll/Kicad_Personal_Lib
[submodule "pcb/random-keyboard-parts.pretty"]
	path = pcb/random-keyboard-parts.pretty
	url = https://github.com/ai03-2725/random-keyboard-parts.pretty
[submodule "pcb/keyswitches.pretty"]
	path = pcb/keyswitches.pretty
	url = https://github.com/daprice/keyswitches.pretty
[submodule "zmk-keyboard-log"]
	path = zmk-keyboard-log
	url = https://github.com/wenbang24/zmk-keyboard-log
